---
import Calendar from "../components/Calendar.astro";
import Cancion from "../components/Cancion.astro";
import DiasRestantes from "../components/DiasRestantes.astro";
import Hero from "../components/Hero.astro";
import Itinerario from "../components/Itinerario.astro";
import Lugar from "../components/Lugar.astro";
import Rules from "../components/Rules.astro";
import TheLove from "../components/TheLove.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
 <main class="w-full h-max flex flex-col justify-center items-center bg-1">
 <Cancion />
  <section class="w-full min-h-screen flex flex-col justify-center items-center">
    <Calendar />
    <DiasRestantes />
  </section>
  <Itinerario />
  <!-- <Hero /> -->
  <Lugar />
  <TheLove />
  <!-- <Rules /> -->
 </main>
</Layout>
