---
import Calendar from '../components/Calendar.astro';
import DiasRestantes from '../components/DiasRestantes.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main class="w-96 h-screen flex flex-col justify-center gap-5 items-center border-[1px] border-[#d4b08c]">
		<Calendar />
		<DiasRestantes />
	</main>
</Layout>
