---
import '../styles/font_h1_styles.css'
---
<section class="w-full h-screen flex flex-col py-5 justify-between items-center " id="cancion">
    <div class="w-full h-max flex-col justify-center items-center text-center">
      <h1 class="monsieur text-4xl w-full text-center"> Bryan & Genesis</h1> 
      <p class="pt-serif-regular text-lg w-full text-center px-10">El amor es un viaje, y queremos que seas parte de nuestro primer paso juntos. Te invitamos a nuestra boda.</p> 
    </div>
    <div class="pt-serif-regular text-3xl w-full text-center">
        <h1> El amor es un viaje, y queremos que seas parte de nuestro primer paso juntos. Te invitamos a nuestra boda.</h1>

    </div>
</section>
