---
---
<div class="w-full h-max py-10 flex  flex-col justify-center items-center ">
    <h1>Faltan</h1>
    <div class=" w-[85%] h-20 flex  flex-col justify-center items-center"> 
       <div class="flex flex-row justify-around  items-center  w-full h-10 border-b-[1px] border-slate-400">
        <p class=" text-2xl font-medium">Días</p>
        <p class=" text-2xl font-medium">Horas</p>
        <p class=" text-2xl font-medium">Min</p>
        <p class=" text-2xl font-medium">Seg</p>
    </div> 
    <div class=" w-[85%] h-20 flex flex-col justify-center items-center"> 
        <div class="flex flex-row justify-around items-center  w-full ">
         <p class="text-4xl font-medium">0</p>
         <p class="text-4xl font-medium">:</p>
         <p class="text-4xl font-medium pl-3" >00</p>
         <p class="text-4xl font-medium">:</p>
         <p class="text-4xl font-medium">00</p>
         <p class="text-4xl font-medium">:</p>
         <p class="text-4xl font-medium">00</p>
     </div>
    </div>
</div>